body{
    background-image: url("img/earthedit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    z-index: -1;

}
#mDiv{
    height: 100%;
    width: 100%;


}

#signUptext{
  text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Space Grotesk', serif;


}
#formDiv{
        width: 50%;
        height: 70%;
}
footer{



}