body{






}
html{
    /*change to source */
    background-image: url("img/earthedit.jpg");
    background-repeat: space;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    z-index: -1;

}

@media only screen and (max-width: 780px) {
    html{
        /*change to source */
        background-image: none;
        background-color:  #2a2b2b;
        background-repeat: space;
        background-size: cover;
        background-position: top;
        background-blend-mode: multiply;
        backdrop-filter: invert(90%);



    }


    #signUptext{

        margin-left: 5%;


        font-size: 50px;
        font-family:'Libre Barcode 128 Text', serif;


    }

}

@media  screen and (min-height: 800px){

    html{
        /*change to source */
        background-image: url("img/earthedit.jpg");
        background-repeat: space;
        background-size: cover;
        background-position: top;
        background-blend-mode: multiply;
      backdrop-filter: invert(90%);



    }
    #signUptext{

        margin-left: 10%;



    }


}


#signUptext{
  text-align: left;
    margin-left: 5%;
    margin-top: 6%;

    font-size: 70px;
    font-family:'Libre Barcode 128 Text', 'Space Grotesk', serif;


}
#formDiv{
        width: 50%;
        height: 70%;
}
footer{



}