#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(40%) blur(0.3px);
    z-index: -10;

}

#welcometxt{
    margin-top: 3%;
    font-size: 50px;


}
